@import '../../universalStyles/colors';

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
  padding: 10px 40px;
  max-width: 400px;
  background-color: $lightVioletColor;
  border-radius: 5px;
  box-shadow: 0 0 10px $darkVioletColor;

  &__header {
    margin: 10px 5px 20px;
  }

  // &__step-number {
  //   margin-bottom: 10px;
  // }
}