@import '../../universalStyles/colors';

.nav-link-item {

  height: 100%;

  a {
    padding: 0 7px;
    font-weight: bold;
    text-decoration: none;
    color: $lightVioletColor;
    transition: color .3s;

    &:hover {
      color: $pinkColor;
    }
  }
}
